@charset "UTF-8";

* {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: linear-gradient(to right, #DFD7B2,#D1CCAF);
    }

    main {
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #86816c94;
        width: 600px;
        padding: 10px;
        margin: auto;
    }

    h1 {
        color: #6C786B;
        text-align: center;
        text-shadow: 1px 1px 0px #4e564da9;
    }

    h2 {
        color: #D2B88E;
    }

    p {
        text-align: justify;
    }